{{- if .UseFastCRUD }}
from fastcrud import FastCRUD
from app.models.user import User
from app.schemas.user import (
    UserCreateInternal,
    UserUpdate,
    UserUpdateInternal,
    UserDelete,
    UserRead,
)

CRUDUser = FastCRUD[
    User,
    UserCreateInternal,
    UserUpdate,
    UserUpdateInternal,
    UserDelete,
    UserRead,
]
crud_users = CRUDUser(User)
{{- else if .UseSQLModel }}
from sqlmodel import Session, select
from app.models.user import User
from app.schemas.user import UserCreate

class UserService:
    @staticmethod
    def get_all(db: Session) -> list[User]:
        return db.exec(select(User)).all()

    @staticmethod
    def create(db: Session, user: UserCreate) -> User:
        db_user = User(**user.model_dump())
        db.add(db_user)
        db.commit()
        db.refresh(db_user)
        return db_user
{{- else if .IncludeSQLAlchemy }}
from sqlalchemy.orm import Session
from app.models.user import User
from app.schemas.user import UserCreate

class UserService:
    @staticmethod
    def get_all(db: Session) -> list[User]:
        return db.query(User).all()

    @staticmethod
    def create(db: Session, user: UserCreate) -> User:
        db_user = User(**user.model_dump())
        db.add(db_user)
        db.commit()
        db.refresh(db_user)
        return db_user
{{- else if .IncludeMongoDB }}
from pymongo.database import Database
from app.models.user import User
from app.schemas.user import UserCreate
from datetime import datetime, timezone

class UserService:
    @staticmethod
    def get_all(db: Database) -> list[User]:
        docs = db["users"].find()
        return [User(id=str(d["_id"]), username=d["username"], email=d.get("email"), created_at=d.get("created_at")) for d in docs]

    @staticmethod
    def create(db: Database, user: UserCreate) -> User:
        doc = user.model_dump()
        doc["created_at"] = datetime.now(timezone.utc)
        result = db["users"].insert_one(doc)
        doc["id"] = str(result.inserted_id)
        return User(**{k: v for k, v in doc.items() if k != "_id"})
{{- else }}
from app.schemas.user import UserCreate, UserRead

class UserService:
    @staticmethod
    async def get_all() -> list[UserRead]:
        return []

    @staticmethod
    async def create(user: UserCreate) -> UserRead:
        raise NotImplementedError
{{- end }}
