from pydantic_settings import BaseSettings
from dotenv import load_dotenv

load_dotenv()

class Settings(BaseSettings):
    APP_NAME: str = "{{ .ProjectName }}"
{{- if .IncludeSQLAlchemy }}
    DATABASE_URL: str = "postgresql://user:password@localhost:5432/{{ .ProjectName }}"
{{- else if .IncludeMongoDB }}
    MONGODB_URL: str = "mongodb://localhost:27017"
    MONGODB_DB: str = "{{ .ProjectName }}"
{{- end }}

    class Config:
        env_file = ".env"

settings = Settings()
