from fastapi import APIRouter{{- if or .IncludeSQLAlchemy .IncludeMongoDB }}, Depends{{- end }}
{{- if .IncludeSQLAlchemy }}
from sqlalchemy.orm import Session
from app.db.session import get_db
{{- else if .IncludeMongoDB }}
from pymongo.database import Database
from app.db.session import get_db
{{- end }}
from app.schemas.user import UserCreate, UserRead
from app.services.user_service import UserService

router = APIRouter()

{{- if .IncludeSQLAlchemy }}
@router.get("", response_model=list[UserRead])
def list_users(db: Session = Depends(get_db)):
    return UserService.get_all(db)

@router.post("", response_model=UserRead)
def create_user(user: UserCreate, db: Session = Depends(get_db)):
    return UserService.create(db, user)
{{- else if .IncludeMongoDB }}
@router.get("", response_model=list[UserRead])
def list_users(db: Database = Depends(get_db)):
    return UserService.get_all(db)

@router.post("", response_model=UserRead)
def create_user(user: UserCreate, db: Database = Depends(get_db)):
    return UserService.create(db, user)
{{- else }}
@router.get("", response_model=list[UserRead])
async def list_users():
    return await UserService.get_all()

@router.post("", response_model=UserRead)
async def create_user(user: UserCreate):
    return await UserService.create(user)
{{- end }}
